/* iPhone 14 & 15 Pro Max - 1 */
body {
  background: #1E283B;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  overflow-x: hidden;
  position: relative;
  width: 430px;
  height: 932px;
}

.gradientStyling {
  position: absolute;
  width: 430px;
  height: 932px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #050506 0%, #050506 20.1%, rgba(50, 50, 50, 0) 50.1%, #7F8285 100%);
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Rectangle 2 */
.inputbox {
  position: absolute;
  width: 316px;
  height: 607px;
  left: 57px;
  top: 218px;
  background: #D9D9D9;
  border-radius: 10px;
}

/* Rectangle 3 */
.chargeTime {
  position: absolute;
  width: 205px;
  height: 69px;
  left: 112px;
  top: 705px;
  background: rgba(0, 152, 217, 0.552941);
  border-radius: 10px;
}

/* Calculate */
.calculate {
  position: absolute;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #050506;
 width: 205px;
  height: 69px;
  left: 112px;
  top: 705px;
  background: rgba(0, 152, 217, 0.552941);
  border-radius: 10px;
}
/* Enter your current operating Information */
.enterDetails {
  position: absolute;
  width: 332px;
  height: 48px;
  left: 49px;
  top: 257px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #050506;
}

/* Rectangle 7 */
.batteryTemp {
  position: absolute;
  width: 250px;
  height: 39px;
  left: 96px;
  top: 342px;
  background: #FFFFFF;
  border-radius: 10px;
}

/* Average battery temp °C */
.batteryTempText {
  position: absolute;
  width: 228px;
  height: 26px;
  left: 102px;
  top: 350px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #888B8F;
}

/* Rectangle 5 */
.chargeTime {
  position: absolute;
  width: 250px;
  height: 39px;
  left: 94px;
  top: 447px;
  background: #FFFFFF;
  border-radius: 10px;
}

/* Average Charge Time (Mins) */
.averageChargeTimeText {
  position: absolute;
  width: 228px;
  height: 26px;
  left: 103px;
  top: 460px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #888B8F;
}

/* Rectangle 6 */
.currentBatteryCostBox {
  position: absolute;
  width: 250px;
  height: 39px;
  left: 94px;
  top: 566px;
  background: #FFFFFF;
  border-radius: 10px;
}

/* Current Battery Cost */
.CurrentBatteryCostText {
  position: absolute;
  width: 228px;
  height: 26px;
  left: 95px;
  top: 579px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #888B8F;
}

/* image 1 */
.logo {
  position: absolute;
  width: 150px;
  height: 49px;
  left: 141px;
  top: 73px;
  background: url('image.png');
}
